@import "~bootstrap/less/variables";
@import "~bootstrap/less/mixins";
@import "~bootstrap/less/type";
@import "~bootstrap/less/forms";
@import "~bootstrap/less/buttons";
@import "~bootstrap-ext/less/variables";
@import "~bootstrap-ext/less/mixins";
@import "~bootstrap-ext/less/buttons";
@import "~frontend/common/variables";

#http-error-heading {
  margin-bottom: @line-height-computed * 2;
  font-size: @font-size-base * 4;
  &.small {
    font-size: @font-size-base * 3;
  }
}
#http-error-descr {
  padding-top: 100px;
  font-size: @font-size-base * 1.5;
  .heading {
    font-size: @font-size-base * 5;
  }
  @media (max-width: @screen-sm-min) {
    padding-top: 20px;
    font-size: @font-size-base * 1.2;
  }
}

#goog-fixurl {
  .clearfix;
  margin-bottom: @line-height-computed * 1.5;
  .other-things {
    .h2;
    b {
      font-weight: normal;
    }
  }
  #goog-wm {
    ul {
      padding-left: 0;
      list-style: none;
    }
  }
  #goog-wm-qt {
    .form-control;
    .form-group-lg;
    float: left;
    margin-right: @line-height-computed / 3;
  }
  #goog-wm-sb {
    .btn;
    .btn-green;
    float: left;
  }
  .search-goog {
    form {
      .form-inline;
    }
  }
}

